/* Adicione isso ao seu arquivo style.css */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Estilização do cabeçalho */
.cabecalho {
    background-color: black;
    padding: 10px;
    text-align: center;
}

.cabecalho .logo {
    max-width: 150px;
}

/* Estilização do menu */
.topo {
    background-color: black;
    color: white;
    padding: 10px 0;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #495057;
}

/* Estilização do conteúdo */
.conteudo {
    flex: 1;
    padding: 20px;
}

.conteudo section {
    margin-bottom: 20px;
}

.conteudo h2 {
    margin-bottom: 10px;
    color: #343a40;
}

.conteudo img {
    display: block;
    margin: 0 auto 10px;
}

.conteudo ul {
    list-style: none;
    padding: 0;
}

.conteudo ul li {
    background-color: #f1f1f1;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

/*teste de estilizacao*/

/* Estilo geral */
.conteudo_sobre {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .conteudo_sobre p {
    line-height: 1.6;
    text-align: justify;
    margin: 0;
  }
  
  .foto_millie {
    display: block;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }


  /* Estilo da pagina incricao */
  .conteudo_incricao{
    display: flex;
    padding-left: 55px;
    color: white;
    background-color: #672828;
    border: 2px solid;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    text-align: left;
    align-items: center;
    margin: auto ;
    
  }

  form input{
    padding: 3px;
    border-radius: 10px;
    margin: 5px;
  }

  .botao_limpar{

    background-color: #cc0000;  /* Cor de fundo vermelha */
    color: white;
    padding: 10px 20px;  /* Espaçamento interno */
    font-size: 15px;  /* Tamanho da fonte */
    border-radius: 5px;  /* Cantos arredondados */
    display: inline-block;  /* Alinhamento em linha */
    margin-top: 10px;  /* Margem superior */
  }

  .botao_enviar{

    background-color: black;  /* Cor de fundo vermelha */
    color: white;
    padding: 10px 20px;  /* Espaçamento interno */
    font-size: 15px;  /* Tamanho da fonte */
    border-radius: 5px;  /* Cantos arredondados */
    display: inline-block;  /* Alinhamento em linha */
    margin-top: 10px;  /* Margem superior */
  }


/* Estilização do rodapé */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
